@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/cards.css");


body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  margin: 0px;
  background-color: #7AA95C;
}
h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
